---
layout: page
title: "List"
description: "人生的欲望啊~"
header-img: "img/post-bg-biancheng.jpg"
---


# 关于人生的清单



好多时候都是在网上看到自己喜欢的东西，最后看了半天，对东西有了更多的了解，等到马上要付款拿下的时候才想到自己的囊中羞涩。

有了收入时，却不再清晰地想起自己想过，“这东西劳资有钱了肯定买。”

这大概是一种永远的悖论。

为了再有钱的时候可以买到自己喜欢的东西，不再是纠结半天；也为了激励自己还有那么多精美的东西不曾拥有：我觉得列个单子，记录下自己的一些清单和原则，比较好。

再不济，有朋友想送礼物，可以在下面随便拿一件，都是我想要的。

### 原则

![](http://7xtgob.com1.z0.glb.clouddn.com/16-7-30/13218729.jpg)

| 原则      |     介绍 |   进程   |
| :--------: | :--------:| :------: |
| **做有创造性的工作**  |   缘由 |    |
| **消费分期，还款一次性**  |   《买！买！买！》 |  为达成下面那个清单找到了借口  |


### 无尽物欲

![](http://7xtgob.com1.z0.glb.clouddn.com/16-7-30/93354079.jpg)

| 名字      |     具体                 |进程|
| :--------:| :--------:| :------: |
| 机械键盘   |   Filco&cherry 68键 茶轴 |    |
| mac pro |   顶配pro |    |
| 4k 显示屏 |  dell 4k 显示器|    |
|手表   |    |    |
|Kindle Oasis   | 就是觉得很酷   |    |
|lamy alster   |  是金属的，不是塑料的  |    |

### 学无涯

![](http://7xtgob.com1.z0.glb.clouddn.com/16-7-30/32892671.jpg)


| 名字      |     具体   |进程|
| :--------:| :--------:| :------: |
| 从浅入深html&css | iPad看的pdf   |  完成  |
| TED TALKS 演讲的力量| 中信纸质版中文   |  完成，还有英文版待处理  |
| 通往财富自由之路 | 得到专栏   |  思考笔记再更新  |
|新生写作课 | 新生大学   |  录音、纸质笔记待整理  |


<!-- ABOUT Version -->
<div class="zh post-container">
  <!--copied from markdown -->
  <blockquote><p>写写东西，记录思考，清醒活着。<br>
  不妨说说你的鸡毛蒜皮。</p></blockquote>
  <p>一个博客，坚持写写自己的读书笔记，职场所得，生活感悟，观影吐槽什么的。<br>
  一定会坚持更新的！我保证！</p>
  <p>以前的博客<a href="http://madaoword.lofter.com/">madao's word</a> 与 <a href="http://blog.sina.com.cn/horsesay">新浪-未曾存在</a>。
    <br>除了在博客写点东西外，<del>也胡乱写写不负责的八卦，还有个搬运视频的头条号<a href="http://www.toutiao.com/m4935743317/">娱乐大嘴鱼（已放弃）</a> </del> <br> 我还有个企鹅号和头条号，写写娱乐八卦，算是熟悉下后台,要是有什么新媒体运营的工作给我，我也可以做好的！</p>
    <p>为了激励自己多多赚钱，我还有个<a href="http://tengblog.com/2016/07/30/list/">清单</a>在这，写一些做完的，或者想做的。或许以后会独立出去，做成单独的小栏目。</p>
 
  <p>如果想更详细的了解我，可以点击右侧的社交账号。</br>
    或者点击<a href="/portfolio/portfolio-fullpage.html"  target="view_blank">全屏演示</a>，很遗憾，因为能力问题，这个文件还没有适配手机端。我需要时间学习足够的前端知识来解决。</p>

</div>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
